.content {
display: flex;
}

.sidebar {
position: fixed; /* Keep the sidebar in a fixed position */
height: 100vh; /* Ensure the sidebar spans the full viewport height */
width: 30vw; /* Adjust the sidebar width */
background-color: #f8f9fa; /* Sidebar background color */
z-index: 3;
margin-top: 2vh;
box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);



}


.UpcomingEvents{
background-color: #153463 ;
color: white;
padding: 1.8vh;
font-size: 1.4rem;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
font-weight: 600;

}


.month{
font-size: 1.5rem;
padding-left: 16px;
padding-top: 3vh;
padding-bottom: 1vh;
font-weight: 580;
color:  #153463;

}

.event {
display: flex;
padding: 0.8vw;
margin-top: 6vh;
margin-bottom: 6vh;
border-left: 5px solid #153463;
margin-left: 0.5vw;
margin-right: 0.5vw;
background-color: rgb(21, 52, 99, 0.1);

}



.event:last-child {
margin-bottom: 2vh;
}

.event:first-child{
margin-top: 2vh;
}

.date {
font-size: 1.8rem;
font-weight: 550;
margin-bottom: 8px;
color: #153463;

}

.event-name {
font-size: 1.2rem;
margin-top: 9px;
margin-left: 0.8vw;


}

.event-lists {
height: 68.6vh;
overflow-y: auto; /* Add vertical scrolling if needed */
padding: 10px; /* Add padding for spacing */
background-color: #fff; /* Set a background color */
border: 1px solid #ddd; /* Optional: Add a border for styling */
border-radius: 5px; /* Optional: Add rounded corners */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
margin: 0 15px 0 15px;
}




/* Responsiveness */


    @media (max-width: 768px) {

    .event {
        padding: 1.5vw;
    }

    .content{
    flex-direction: column-reverse;

    }

    .sidebar {
    position: static;
    width: 100vw;
    margin-top: 3vh;

    }
        

    .UpcomingEvents{
    padding: 2.5vh;
    font-size: 1.7;

    }

}

    

    @media (min-width: 600px) {
    .date {
        margin-top: 10px;
    }

    .event-name {
        margin-top: 15px;
    }
    }

    @media (max-width: 600px) {

    .UpcomingEvents{
        font-size: 1.3rem;
    }

    .date {
        font-size: 1.5rem;
        margin-left: 1vw;
        margin-top: 12px;
        margin-bottom: 8px;
        
        
    
    }
    
    .event-name {
        font-size: 1rem;
        margin-left: 2vw;
        margin-top: 17px;
    }

    .month{
        font-size: 1.3rem;
    }


}