.Content {
    margin-top: 10vh;
}

.quote-container {
    background-image: url('/Pictures/homeCoverPhoto.png');
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    background-color: red;
    background-position: center;
}


.quote {
    position: absolute;
    top: 40vh;
    margin: 0 auto;
    text-align: center;
    margin-left: 10vw;
}

.quote p{
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal, vertical, blur-radius, color */
    text-align: center;
    
}

.contactUs {
    padding: 2vh 4vw 2vh 4vw;
    border: none;
    background-color: #153463 ;
    color: white;
    font-weight: bold;
    display: inline-block;
    font-size: 1rem;
    margin-top: 2vh;
    cursor: pointer;
    

}


@media (max-width: 768px) {
    .Content{
        display: flex;
        flex-direction: column;
    }
    .quote-container {
        height: 510px;
    }
    .quote{
        position: static;
        background-color: #153463;
        width: 100vw;
        margin-left: 0;
        padding-bottom: 5vw;
        padding-top: 5vw;
    }
    .quote p {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .contactUs {
        padding: 2.5vw;
        border: 1px solid white;
        
    
    }
}