.content {
    display: flex;
}

.sidebar {
   background-color: #f8f8f8;
   width: 30vw;
   height: 100vh;
   position: fixed;
   box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
   z-index: -1;
  
   
}

.feed {
   background-color: white; 
   width: 70vw;
   margin-left: 30vw;
   z-index: -2;
}

.post{
   font-size: 1.5rem;
   margin-top: 35px;
   margin-bottom: 10px;
   font-weight: 600;
   color:  #153463;
   margin-left: 3vw;

}

.UpcomingEvents{
   background-color: #153463 ;
   color: white;
   padding: 1.5vw;
   font-size: 1.5rem;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   font-weight: 550;

}

.post-container{
   margin-left: 1vw;
   margin-right: 1vw
}

.post-item{
   margin-top: 6vh;
   margin-bottom: 8vh;
  
}

.account{
   margin-left: 28px;
   padding-bottom: 10px;
   font-size: 1.3rem;
   font-weight: 600;
   color:  #153463 ;
   
}

.caption{
   margin-left: 30px;
   margin-right: 30px;
   text-align: justify;
   font-size: 1.2rem;
   padding-bottom: 20px;
   
}

.post-img{
   margin-left: 30px;
   margin-right: 30px;
   width: 60vw;
   
}

hr {
   border: 2px solid #153463 ;
   margin-left: 3vw;
   margin-right: 3vw;
   
   
}





@media (max-width: 768px) {
    .content{
        flex-direction: column-reverse;
        
    }

    .sidebar {
        position: static;
        width: 100vw;
        margin-top: 10vh;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
        
     
        
     }
     
     .feed {
        margin-left: 0px;
        width: 100vw;
     }

     .account{
   
   }
   
   .caption{
      text-align: justify;
   }
   
   .post-img{
      width: 85vw;
      
   }
   
}
