.navbar {
    position: fixed; /* Keep the navbar at the top */
    top: 0;
    left: 0;
    width: 100%; /* Make it span the full width */
    height: 10vh; /* Adjust height as needed */
    background-color: white; /* Navbar background color */
    color: white; /* Text color */
    display: grid; /* Use flexbox for layout */
    grid-template-columns: 30vw auto;
    align-items: center; /* Center items vertically */
    z-index: 10; /* Ensure it stays on top of other elements */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

    .navbar .logo{
    height: 10vh;
    margin-left: 1vw;
    }
    .links{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    }

    .links a {
    text-decoration: none;

    }

    .links a:hover {
        color: red;
    }

    .links a:hover {
        font-weight: bold;
    }

    .links p {
    padding: 3vh;
    color: #153463;
    font-weight: 500;
    font-size: 13px;
    margin: 0 0.5vw 0 0.5vw;
    }

    #menuButton {
    font-size: 30px;
    cursor: pointer;
    color: #153463;
    border: none;
    padding: 10px;
    display: none;
    margin-right: 20vw;
    width: 5vw;
    background-color: transparent;
    float: right;
    position: absolute;
    left: 91vw;

    }


    /* Styles for mobile view (small screens) */
    @media screen and (max-width: 768px) {




    #menuButton {
    display: block; /* Show the menu button on small screens */
    }

    .links {
    display: none; /* Hide menu items initially */
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: white;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);


    }

    .links.active {
    display: block; /* Show the menu when the active class is added */
    }

    

    }

    @media (max-width: 450px) {
    #menuButton {

    left: 85vw;

    }


    }

    @media (max-width: 268px) {
    #menuButton {

    left: 80vw;

    }

    }

    @media (max-width: 195px) {
    #menuButton {

    left: 73vw;

    }

    }