.navbar {
    position: fixed; /* Keep the navbar at the top */
    top: 0;
    left: 0;
    width: 100%; /* Make it span the full width */
    height: 10vh; /* Adjust height as needed */
    background-color: white; /* Navbar background color */
    color: white; /* Text color */
    display: grid; /* Use flexbox for layout */
    grid-template-columns: 10vw auto;
    align-items: center; /* Center items vertically */
    z-index: 10; /* Ensure it stays on top of other elements */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
 }
 
.navbar .logo{
    padding: 3vh;
    align-items: center;
    font-weight: bold;
    font-size: 2vh;
    color: #153463;
}
 .links{
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1.5vw 0 1.5vw;
    align-items: center;
    
}

.links a {
    text-decoration: none;
 
}

.links p {
    padding: 3vh;
    color: #153463;
    font-weight: 500;
    font-size: 1.5vh;
}

@media (max-width: 768px) {
    .links {
        opacity: 0;
    }
}


